.feynman__link {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
  position: absolute;
  top: 50%;
  right: 48px;
  z-index: 2;
}

.feynman__link:hover {
  opacity: 50%;
  transition: opacity .3s linear;
}

@media screen and (max-width: 1000px) {
  .feynman__link {
    font-size: 26px;
    margin-top: 20px;
    line-height: 1;
    top: 80%;
  }
}

@media screen and (max-width: 700px) {
  .feynman__link {
    font-size: 14px;
    line-height: 1;
    top: 80%;
  }
}