.section-subtitle {
  line-height: 34px;
  font-size: 24px;
  width: 60%;
  font-weight: normal;
  text-align: center;
  margin: auto;
  margin-top: 20px;
}

@media screen and (max-width: 600px) {
  .section-subtitle {
    font-size: 18px;
    line-height: 1;
  }
}