.feynman__illustration {
  height: 637px;
  width: 867px;
  background-position: center;
  background-size: cover;
  position: absolute;
  bottom: 0;
  z-index: 1;
}

@media screen and (min-width: 1601px) {
  .feynman__illustration  {
    right: 48vw;
  }
}

@media screen and (max-width: 1300px) {
  .feynman__illustration {
    height: calc(50vw);
    width: 70vw;
    bottom: 0;
    right: 40vw;
  }
}

@media screen and (max-width: 1000px) {
  .feynman__illustration {
    left: -50px;
  }
}

@media screen and (max-width: 500px) {
  .feynman__illustration {
    left: -50px;
  }
}