.table {
  max-width: 1080px;
  display: grid;
  grid-template-columns: repeat(4, 250px);
  gap: 0px 20px;
  margin: auto;
}

.table:nth-child(even) {
  max-width: 1080px;
  display: grid;
  grid-template-columns: repeat(5, 200px);
  gap: 0px 20px;
  margin: auto;
}

@media screen and (max-width: 1200px) {
  .table {
  max-width: 90%;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  .table:nth-child(even) {
    max-width: 90%;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}

@media screen and (max-width: 600px) {
  .table {
    max-width: 250px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  .table:nth-child(even) {
    max-width: 200px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}