.two-columns__brief {
  color: #2f80ed;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  max-width: 175px;
  margin-top: 0;
  margin-bottom: 0;
}

@media screen and (max-width: 600px) {
  .two-columns__brief {
    font-size: 16px;
    line-height: 1.2;
  }
}