.header__main-illustration {
  height: 608px;
  width: 765px;
  background-position: center;
  background-size: cover;
  position: absolute;
  right: 0px;
  bottom: 0px;
  z-index: 1;
}

@media screen and (max-width: 650px) {
  .header__main-illustration {
    right: -200px;
    height: 408px;
    width: 565px;
  }
}