.khan__buy-link {
  line-height: 2.625rem;
  font-size: 1.872rem;
  font-weight: normal;
  color:  #2f80ed;
  text-decoration: none;
  align-self: flex-start;
}

.khan__buy-link:hover {
  opacity: 50%;
  transition: opacity .3s linear;
}