.khan__book-pic {
  overflow: hidden;
  width: 620px;
  height: 608px;
  margin-right: 48px;
  object-fit: cover;
  object-position: top;
}

@media screen and (max-width: 1120px) {
  .khan__book-pic {
    height: 56vw;
    margin-right: 4vw;
  }
}